body {
  font-family: 'Poppins', sans-serif;
  background-color: #E8E8E8;
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow: hidden; 
}
/* sign up style starts here */
.signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E8E8E8;
  }
  
  .container {
    background-color: transparent;
    padding: 30px 40px;
    border-radius: 10px;
    width: 350px;
  }
  
  .title {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  
  .logo {
    width: 125px;
    margin: 10px auto 20px; 
    display: block;
  }
  
  
  .form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    text-align: left;
    font-size: 14px;
  }
  
  input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 15px;
    padding: 10px;
    background-color: #375E7A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: medium;
  }
  
  button:hover {
    background-color: #2f4f61;
  }
  
  .login-link {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
  }
  
  .login-link a {
    color: #375E7A;
    text-decoration: none;
    font-weight: bold;
  }
  
  body.signup-page {
    overflow: auto;
    height: auto;
  }
/* sign up style ends here */