body {
  font-family: 'Poppins', sans-serif;
  background-color: #E8E8E8;
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Siguron që faqja të mbushë plotësisht ekranin */
  box-sizing: border-box/* Heq çdo skroll të përgjithshëm */
}

  
 




 






